name: deploy to lambda

on: [push]

jobs:
  deploy_main:
    name: deploy lambda function main
    runs-on: ubuntu-latest
    steps:
      - name: checkout source code
        uses: actions/checkout@v4
        
      - name: Build binary
        run: |
          cd scripts/main && zip deployment_main.zip *

      - name: deploy
        uses: appleboy/lambda-action@v0.2.0
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ap-northeast-2
          function_name: TA_DEV-lambda_main
          zip_file: scripts/main/deployment_main.zip

  deploy_event:
    name: deploy lambda function event handler
    runs-on: ubuntu-latest
    steps:
      - name: checkout source code
        uses: actions/checkout@v4
        
      - name: Build binary
        run: |
          cd scripts/discord_event_handler && zip deployment_event.zip *

      - name: default deploy
        uses: appleboy/lambda-action@v0.2.0
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ap-northeast-2
          function_name: discord_event_handler
          zip_file: scripts/discord_event_handler/deployment_event.zip
